
body{
    background:rgb(225, 221, 210);
    margin :0;
}
#container{
    display:flex;
    padding-top: 4%;
    padding-left: 28%;
    padding-right: 10%;
}

#container img{
    margin-right: 20px;
}
#column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
  }
  
  /* Clear floats after the columns */
#row:after {
    content: "";
    display: table;
    clear: both;
  }
