<span style="color:rgb(115, 122, 134) ;"><h1 align="center">NOTICE</h1></span>
<div id="container">
<form>
<img width="180"  src="assets\img\nmm.png"/><br><br>
<div class="aaa"><a [routerLink]="['/nm']"><button> Edit Circular</button></a>  </div>  <br><br><br>
<img width="180"  src="assets\img\amm.png"/><br><br>
<div class="aaa"><a [routerLink]="['/na']"><button>Marks Approval</button></a>  </div>  
</form>
<form>
<img width="180"  src="assets\img\scw.png"/><br><br>
<div class="aaa"><a [routerLink]="['/nw']"><button>course withdrawl</button></a>  </div>  <br><br><br>
<img width="180"  src="assets\img\ill.png"/><br><br>
<div class="aaa"><a [routerLink]="['/ni']"><button>inneligible</button></a>  </div>
</form> 
<form>
<img width="170" src="assets\img\sers.png"/><br><br>
<div class="aaa"><a [routerLink]="['/ns']"><button>sem end result</button></a></div>  <br><br>

</form>

</div>
