<span style="color:rgb(115, 122, 134) ;"><h1 align="center">CIRCULARS</h1></span>
<div id="container">
<form>
<img width="180"  src="assets\img\makeup.png"/><br><br>
<div class="aaa"><a [routerLink]="['/cmm']"><button> Edit Circular</button></a>  </div>  <br><br><br>
<img width="180"  src="assets\img\marks appr.png"/><br><br>
<div class="aaa"><a [routerLink]="['/cam']"><button>Marks Approval</button></a>  </div>  
</form>
<form>
<img width="180"  src="assets\img\course wid.png"/><br><br>
<div class="aaa"><a [routerLink]="['/ccw']"><button>course withdrawl</button></a>  </div>  <br><br><br>
<img width="180"  src="assets\img\inne list.png"/><br><br>
<div class="aaa"><a [routerLink]="['/cin']"><button>inneligible</button></a>  </div>
</form> 
<form>
<img width="180" width="200px" height="85px" src="assets\img\sem end.png"/><br><br>
<div class="aaa"><a [routerLink]="['/cer']"><button>sem end result</button></a></div>  <br><br>
<form action="https://formspree.io/f/mwkzjlqj"  method="POST" >
<br><label>MESSAGE:</label><br>
<input type="text"  name="Name" placeholder="Full Name" size="25" style="height: 50px;" ><br><br>
<button type="submit" >send</button>
</form>
</form>

</div>
