.city
{
    padding-top: 30%;
    padding-left:100%;
    padding-right: 10%;
}
.aa
{
    padding-left: 68%;
    padding-top: 20%;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
